# Login API Test Results

## Test Case 1

Email:
test@gmail.com

Password:
123456

Expected:
Login Successful

Actual:
Login Successful

Status:
PASS

---

## Test Case 2

Email:
test@gmail.com

Password:
wrong123

Expected:
Invalid Credentials

Actual:
Invalid Credentials

Status:
PASS

---

## Test Case 3

Email:
abc@gmail.com

Password:
123456

Expected:
Invalid Credentials

Actual:
Invalid Credentials

Status:
PASS